* {
    background-image: none;
    font-size: ${fntSize}px;
}

window {
    background-color: transparent;
}

button {
    /* MATUGEN COLOR */
    color: {{colors.on_surface.default.hex}};
    background-color: rgba({{colors.surface_container_high.default.red}}, {{colors.surface_container_high.default.green}}, {{colors.surface_container_high.default.blue}}, 0.5);

    outline-style: none;
    border: none;
    border-width: 0px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: {{colors.secondary.default.hex}};
    background-size: 30%;
}

button:hover {
    background-color: rgba({{colors.secondary_container.default.red}}, {{colors.secondary_container.default.green}}, {{colors.secondary_container.default.blue}}, 0.8);
    background-size: 40%;
    border-radius: ${active_rad}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${active_rad}px;
    margin : ${hvr}px 0px ${hvr}px ${mgn}px;
}

button:hover#logout {
    border-radius: ${active_rad}px;
    margin : ${hvr}px 0px ${hvr}px 0px;
}

button:hover#suspend {
    border-radius: ${active_rad}px;
    margin : ${hvr}px 0px ${hvr}px 0px;
}

button:hover#shutdown {
    border-radius: ${active_rad}px;
    margin : ${hvr}px 0px ${hvr}px 0px;
}

button:hover#hibernate {
    border-radius: ${active_rad}px;
    margin : ${hvr}px 0px ${hvr}px 0px;
}

button:hover#reboot {
    border-radius: ${active_rad}px;
    margin : ${hvr}px ${mgn}px ${hvr}px 0px;
}

/* The script calculates 'BtnCol' as "white" usually, but since we are using 
   Matugen, we don't need that variable for colors. 
   Just ensure your icons exist at these paths.
*/

#lock {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/lock_${BtnCol}.png"));
    border-radius: ${button_rad}px 0px 0px ${button_rad}px;
    margin : ${mgn}px 0px ${mgn}px ${mgn}px;
}

#logout {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/logout_${BtnCol}.png"));
    border-radius: 0px 0px 0px 0px;
    margin : ${mgn}px 0px ${mgn}px 0px;
}

#suspend {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/suspend_${BtnCol}.png"));
    border-radius: 0px 0px 0px 0px;
    margin : ${mgn}px 0px ${mgn}px 0px;
}

#shutdown {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/shutdown_${BtnCol}.png"));
    border-radius: 0px 0px 0px 0px;
    margin : ${mgn}px 0px ${mgn}px 0px;
}

#hibernate {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/hibernate_${BtnCol}.png"));
    border-radius: 0px 0px 0px 0px;
    margin : ${mgn}px 0px ${mgn}px 0px;
}

#reboot {
    background-image: image(url("/home/namael/nixos/dotfiles/wlogout/icons/reboot_${BtnCol}.png"));
    border-radius: 0px ${button_rad}px ${button_rad}px 0px;
    margin : ${mgn}px ${mgn}px ${mgn}px 0px;
}